/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Slab', serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #1e1e1e;
  color: #f5f5f5;
}

.container {
  text-align: center;
  width: 90%;
  max-width: 600px;
}

/* Título */
h1 {
  color: #cccccc;
  font-size: 2em;
  margin-bottom: 1em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* Cartas */
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  gap: 1em;
  justify-items: center;
}

.card {
  width: 100px;
  height: 140px;
  perspective: 1000px;
  cursor: pointer;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.card.flip .card-inner {
  transform: rotateY(180deg);
}

.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  color: #f5f5f5;
  padding: 10px;
  text-align: center;
}

.card-front {
  background-color: #2a3b5d;
  font-size: 1.8em;
}

.card-back {
  background-color: #1c2a44;
  transform: rotateY(180deg);
  font-style: italic;
  font-size: 0.8em;
  line-height: 1.2;
  overflow-wrap: break-word;
}

/*Pop-up */
/* Estilo do Pop-up */
.popup {
  display: none; /* Escondido por padrão */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8); /* Fundo escuro semi-transparente */
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background: #2a3b5d; /* Fundo azul escuro */
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 300px;
  text-align: center;
  position: relative; /*  posição relativa  do X */
}

.popup-text {
  color: #f5f5f5;
  font-size: 1em;
  line-height: 1.4;
}

.popup-close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #f5f5f5;
  font-size: 1.5em;
  cursor: pointer;
}


.popup-content {
  background: #2a3b5d;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 300px;
  text-align: center;
}

.popup-text {
  color: #f5f5f5;
  font-size: 1em;
  line-height: 1.4;
}

.popup-close {
  position: absolute;
  top: 10px;
  right: 15px;
  color: #f5f5f5;
  font-size: 1.5em;
  cursor: pointer;
}

/* Responsivo */
@media (max-width: 600px) {
  .card {
    width: 80px;
    height: 120px;
  }
  .card-back {
    font-size: 0.7em;
    padding: 5px;
  }
}
